.header {
    padding: 40px 0;
    position: absolute;
    left: 50%;
    border: 1px solid #A1A1A180;
    width: 100%;
    transform: translateX(-50%);

    .nav {
        &__item {
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            color: #fff;
            text-decoration: none;
            position: relative;
            &:hover::before {
                content: '';
                position: absolute;
                top: calc(100% + 42px);
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                width: calc(100% + 40px) ;
                height: 2px;
                background: #fff;
            }
        }
    }
}