.subscribe {
    padding: 165px 0 85px;
    text-align: center;
    &__line {
        @include line;
        margin-bottom: 85px;
    }
    &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }
    &__descr {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        &:focus-within {
            .subscribe__input, .subscribe__btn {
                box-shadow: 0px 0px 10px #4985FF;
            }
        }
    }
    &__input {
        width: 300px;
        height: 45px;
        border-radius: 30px 0 0 30px;
        border: none;
        outline: none;
        padding-left: 33px;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        &:focus {
            box-shadow: 0px 0px 10px #4985FF;
        }
    }
    &__btn {
        height: 45px;
        width: 190px;
        border-radius: 0px 30px 30px 0px;
        border: none;
        outline: none;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        background: #4985FF;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        &:hover {
            background: #5f8ff0;
            box-shadow: 0px 0px 10px #4985FF;
        }
    
        
    }
    &__text {
            margin-top: 35px;
            font-size: 13px;
            line-height: 21px;
            color: #999;
            margin-bottom: 0;
        }
}